@{
    ViewBag.Title = "Home";
}

@*<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" style="margin-right: 10px;" href="/Home">Home</a>
        <a class="btn btn-primary" style="margin-right: 10px;" href="/Home/Contact">Contact</a>
        <a class="btn btn-primary" style="margin-right: 10px;" href="/Home/About">About</a>
        
        @if (User.IsInRole("Admin"))
        {
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Manage
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/RolesAdmin">Roles</a></li>
                    <li><a href="/UsersAdmin">Users</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
            <ul>
                <li>
                    <a style="margin-right: 10px;" href="/Home/Contact">Users</a>
                </li>
                <li>
                    <a style="margin-right: 10px;" href="/Home/Contact">Contact</a>
                </li>
            </ul>
            
        }
    </div>
</div>*@